<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>lorrinart</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>addclientservlet</servlet-name>
  <servlet-class>clientvideo.servlets.AddClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>addclientservlet</servlet-name>
  <url-pattern>/addclientservlet</url-pattern>
  </servlet-mapping>
  <servlet>
		<servlet-name>logoutservlet</servlet-name>
		<servlet-class>clientvideo.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logoutservlet</servlet-name>
		<url-pattern>/logoutservlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loginservlet</servlet-name>
		<servlet-class>clientvideo.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginservlet</servlet-name>
		<url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>clientvideo.filters.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	
	</filter-mapping>
  
</web-app>